{
  "id": "",
  "name": "",
  "author": "name <email>"
  "description": "",
  "depends": [
    "", ""
  ],
  "items": [
    {
      "type": "link",
      "source": "",
      "target": "~/"
    }
  ]
}
